################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.idea
.vscode
/.vs
out
*/out/
node_modules
.vscode-test
*/node_modules/
*.vsix
*.jar
vsc-extension-quickstart*
package-lock.json
dist
dist/
*/dist/
*/target/
